<div class="content">
    <div class="team">
        <div class="avatar">
            <img data-id="_logo" src="" alt="">
        </div>
        <p class="name" data-id="_name">HardCode</p>
    </div>
    <img  src="images/arrow.svg" alt="V" class="arrowSeparator">
    <div class="character">
        <img data-id="_profil" src="" alt="">
    </div>
    <div class="score">
        <p class="total">15689</p>
        <p class="pointSup">+ 433</p>
    </div>
    <ul class="bonus">
        <li><img src="images/bonus-1.svg" alt=""><p data-id="_potion">2</p></li>
        <li><img src="images/bonus-2.svg" alt=""><p data-id="_trap">2</p></li>
        <li><img src="images/bonus-3.svg" alt=""><p data-id="_parfum">2</p></li>
        <li><img src="images/bonus-4.svg" alt=""><p data-id="_pm">2</p></li>
    </ul>
</div>