<div>
    <div style="width: 100%">
        <div style="display: inline-block">
            <img id="ia1_logo" src="" width="50px" height="50px" style="display: inline-block"/>

            <div style="display: inline-block">
                <div id="ia1_name">no_name</div>
                <div id="ia1_pm">PM : 1</div>
            </div>
        </div>
        <div style="display: inline-block;width: 700px;text-align: center">VS</div>
        <div style="display: inline-block">
            <img id="ia2_logo" src="" width="50px" height="50px" style="display: inline-block"/>

            <div style="display: inline-block">
                <div id="ia2_name">no_name</div>
                <div id="ia2_pm">PM : 1</div>
            </div>
        </div>
    </div>
    <div id="gameContainer"></div>
</div>